.movie-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.movieImage {
    max-width: 75%;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite {
    color: red; /* Change to the desired color for favorites */
  }

  .movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-content: center;
  }
  
  .movie-card {
    width: 90%;
    max-width: 300px;
    margin: 15px;
    border: 1px solid #000;
    box-shadow: 1px 1px 1px #b2b2b2;
  }
  
  
  
  
  
  
  