@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600&display=swap');

.login-button {
    background-color: #f2f2f2;
}

.login-title {
    font-weight: 600;
}

.login-title, .login-button {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}
